Flask==3.0.2
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.9
cloudinary==1.39.1
python-dotenv==1.0.1
gunicorn==21.2.0
werkzeug==3.0.1
fpdf2==2.8.2
requests==2.31.0
marshmallow==3.21.1
Flask-Compress==1.14
sentry-sdk[flask]==1.43.0
Flask-Migrate==4.0.5
